<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <title>SpeedLog</title>
</head>
<header>
    <div id="menu-header">
        <div class="header-container">
            <span class="icone-voltar"><a href="/home"><ion-icon name="arrow-back-outline"></ion-icon></a>
                
            </span>
            <span class="logo">SpeedLog</span>
            <span class="icone-notificacao">
                <ion-icon name="notifications-outline"></ion-icon>
            </span>
            <span class="bem-vindo">
                <h4>Olá, Cristiane</h4>
            </span>
        </div>
    </div>
</header>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>