<%- include('./partials/header.ejs') %>

    <link rel="stylesheet" href="/stylesheets/produtos.css">


    <body>
        <div class="container-principal">
            <h1>DETALHES DO PRODUTO</h1>

            <ul>

                <li> Código: <%= produto.codigo %>
                </li>
                <li> Nome: <%= produto.nome %>
                </li>

            </ul>

        </div>
    </body>