<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/stylesheets/home.css">

    <body>

        <main>
            <section>
                <!--início ícones principais-->
                <div id="icones-principais">

                    <!--início box 1-->
                    <div class="box">
                        <div class="icones">
                            <div>
                                <a href="/perfil">
                                    <ion-icon class="icon" name="person-outline"></ion-icon>
                                </a>
                            </div>
                            <p>Meu Perfil</p>
                        </div>
                        <div class="icones">
                            <div>
                                <a href="/usuarios">
                                    <ion-icon class="icon" name="people-outline"></ion-icon>
                                </a>
                            </div>
                            <p>Usuários</p>
                        </div>
                    </div>
                    <!--Fim box 1-->

                    <!--início box 2-->
                    <div class="box">
                        <div class="icones">
                            <div>
                                <a href="/requisicoes">
                                    <ion-icon class="icon" name="basket-outline"></ion-icon>
                                </a>
                            </div>
                            <p>Requisições</p>
                        </div>
                        <div class="icones">
                            <div>
                                <a href="/produtos">
                                    <ion-icon class="icon" name="attach-outline"></ion-icon>
                                </a>
                            </div>
                            <p>Produtos</p>
                        </div>
                    </div>
                    <!--Fim box 2-->

                    <!--Início box 3-->
                    <div class="box">
                        <div class="icones">
                            <div>
                                <a href="/estoque">
                                    <ion-icon class="icon" name="calculator-outline"></ion-icon>
                                </a>
                            </div>
                            <p>Estoque</p>
                        </div>
                        <div class="icones">
                            <div>
                                <a href="/">
                                    <ion-icon class="icon" name="exit-outline"></ion-icon>
                                </a>
                            </div>
                            <p>Sair</p>
                        </div>
                    </div>

                    <!--final box 3-->

                </div>
                <!--Final ícones principais-->

                <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
                <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
            </section>
        </main>

    </body>

    </html>